

<%# This is how you have a loop for displaying errors%>
<div class="container-fluid">
<div class="row">
<% if @track.errors.any? %>
   <div>
    <strong>Some issues with your track, please fix them:</strong>
     <ul>
       <% @track.errors.full_messages.each do |track| %>
         <li><%= track %></li>
       <% end %>
     </ul>
   </div>
<% end %>
</div>
</div>


<%# This is a form for adding messages%>
<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
  <form method="post" action="/tracks">
    <div class="form-group">
      <label>Song Title:</label>
      <input type="text" class="form-control" name="song_title" value="<%= @track.song_title %>">
    </div>
    <div class="form-group">
      <label>Author:</label>
      <input type="text" class="form-control" name="author" value="<%= @track.author %>">
    </div>
     <div class="form-group">
      <label>URL:</label>
      <input type="text" class="form-control" name="url" value="<%= @track.url %>">
    </div>
    <div>
      <input type="submit" class="btn btn-default" value="Submit">
    </div>
  </form>
  </div>
</div>
</div>
