<h1><%= @track.url %></h1>
 
 <p>
   Author: <%= @track.author %>
 </p>
 
 <p>
   <%= @track.content  %>
 </p>

 <p>
  <%= @track.created_at %>
 </p>
 
 <hr/>
 <a href="/tracks">Back to All Tracks</a>