body{
  padding-top: 40px;
}

.header-options{
text-align: center;
font: Verdana;
font-size: 18;
}


body {
  background-color: whitesmoke;
}

main {
background-color: white;
padding: 16px;
width: 600px;
margin: 0 auto;
}

.track {
margin-bottom: 30px;
}

.jumbotron {
  background-color: #2E2D88;
  color:white;
}

.jumbotron p {
  text-align: center;
  font-size: 40px;
}

.title h1 {
  text-align: center;
  font-size: 40px;
}