body{
  padding-top: 80px;
}

.header-options{
text-align: center;
font: Verdana;
font-size: 18;
}


body {
  background-color: whitesmoke;
}

main {
background-color: white;
padding: 16px;
}

.track {
margin-bottom: 30px;
}
