


<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">Home Page</h1>
  </div>
</div>
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 header-options">
    <a class="text-center" href="/tracks">The Full List of Tracks</a>
  </div>
  <div class="col-md-6 header-options">
    <a class="text-center" href="/tracks/new">Post A New Track!</a>
  </div>
</div>
</div>



