


<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">Home Page</h1>
  </div>
</div>
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 header-options">
    <h4><a class="text-center" href="/tracks">The Full List of Tracks</a></h4>
  </div>
  <div class="col-md-6 header-options">
    <h4><a class="text-center" href="/tracks/new">Post A New Track!</a></h4>
  </div>
</div>
</div>



